$white: #ffffff;
$darkBlue: #232536;
$blue: #444cfc;
$orange: #ffa155;
$black: #000000;
$beige: #ffd3af;
$text-p: #5D5F6D;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1310px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title-h2 {
  color: $darkBlue;
  font-size: clamp(1rem, 0.333rem + 3.33vw, 3rem);
  font-weight: 600;
  line-height: clamp(2rem, 1.458rem + 2.71vw, 3.625rem);
}

.title-mini {
  color: $black;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
}

.text-p {
  color: $text-p;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

body {
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
    background: $white;

    &-thumb {
      background: $darkBlue;
    }
  }
}

input,
button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

address {
  font-style: normal;
}

.decor {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__line {
    width: 100%;
    height: 100%;
  }

  .line-orange {
    background: $orange;
  }
  .line-beige {
    background: $beige;
  }
  .line-blue {
    background: $blue;
  }
}

.btn-request {
  display: flex;
  align-items: center;
  gap: 16px;

  height: 64px;
  padding-inline: 32px;
  transition: 0.3s;

  position: relative;

  color: $white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background: $blue;

  & span {
    position: relative;
  }

  &:hover {
    box-shadow: 0 0 30px $blue;
  }

  &::after {
    content: url("../icons/btn-request-decor.svg");

    width: 28px;
    height: 28px;

    position: absolute;
    top: 0;
    left: 0;
  }

  @media screen and (max-width: 425px) {
    height: 54px;
    padding-inline: 24px;

    &::after {
      width: 15px;
      height: 15px;
    }
  }

  &:hover::after {
    animation: walkCorners 2s linear;
  }
}

@keyframes walkCorners {
  0% {
    top: 0;
    left: 0;
    rotate: 0deg;
  }
  25% {
    top: 57%;
    left: 0;
    rotate: -90deg;
  }
  50% {
    top: 57%;
    left: 87%;
    rotate: -180deg;
  }
  75% {
    top: 0;
    left: 87%;
    rotate: -270deg;
  }
  100% {
    top: 0;
    left: 0;
    rotate: -360deg;
  }
}
