$darkBlue: #232536;
$white: #ffffff;
$blue: #444cfc;
$black: #000000;

.about {
  padding: 120px 0 98px;

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 18px;

    &-title {
      color: $black;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 3px;
    }

    &-desc {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-title {
      max-width: 674px;
      width: 100%;
      color: $darkBlue;
      font-size: 48px;
      font-weight: 600;
      line-height: 58px;
    }

    &-text-block {
      max-width: 548px;
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 16px;

      &-title {
        color: $darkBlue;
        font-size: 36px;
        font-weight: 600;
        line-height: 54px;
      }

      &-text {
        color: #5d5f6d;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }

  &__content {
    position: relative;

    &-slides {
      position: relative;
    }

    &-slide {
      display: flex;
      align-items: center;
        gap: 12px;
      padding-right: 18px;
    }

    .decor {
      top: 0;
      right: 0;
      width: 18px;
      z-index: 100;

      
      .line-orange {
        height: 121px;
      }
      .line-beige {
        height: 210px;
      }
      .line-blue {
        height: 114px;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-stats {
      display: flex;
      align-items: flex-start;
      gap: 66px;
    }

    &-stat {
      position: relative;

      display: flex;
      flex-direction: column;
      gap: 18px;

      &-title {
        color: $darkBlue;
        font-size: 36px;
        font-weight: 600;
        line-height: 54px;
      }

      &-desc {
        .decor {
          flex-direction: row;
          left: 0;
          bottom: 28px;

          &__line {
            height: 6px;
          }
          .line-blue {
            width: 10px;
          }
          .line-beige {
            width: 44px;
          }
          .line-orange {
            width: 18px;
          }
        }
      }

      &-text {
        color: $black;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      gap: 16px;

      color: $blue;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;

      transition: 0.3s;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid $blue;
        text-shadow: 20px 0 20px $blue;
      }
    }
  }
}

.slider {
  position: relative;

  &__slides {
    max-height: 446px;
    overflow: hidden;
  }
  &__slide {
    transition: 0.3s;
  }

  &__btns {
    position: absolute;
    right: 60px;
    bottom: 25px;

    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__btn {
    position: relative;
    font-size: 55px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $blue;

    transition: .3s;

    &.btn-prev:hover {
        text-shadow: -8px 0 10px $blue;
    }
    &.btn-next:hover {
        text-shadow: 8px 0 10px $blue;
    }
    
  }
}
